*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main_color: #647bb5;
    --main_color_akcent: #edecec;
    --main_text_color: #404040
}

.main__color{
    background: var(--main_color);
}

.container{
    margin: 0 auto;
    width: 80%;
    max-width: 1024px;
}

header, footer{
    padding: 10px 0;
    color: var(--main_color_akcent);
    font-family: Arial;
    font-weight: bold;
}

footer{
    margin-top: 30px;
}

main{
    color: var(--main_text_color);
    font-family: Arial;
}

.link>a{
    color: var(--main_color);
}
.category__item{
    margin: 50px 0;
}

.category__item-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.category__item-title{
    font-weight: bold;
}

.article__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article__item {
    width: 85%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article__item-img>img{
    width: 100%;
    border-radius: 5px;
}

.current-category{
    margin-bottom: 15px;
}

.article__body{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.link__list{
    display: flex;
    gap: 20px;
}

.pagination .link__list{
    margin: 0 auto;
    width: 30%;
    max-width: 500px;
    justify-content: space-between;
}
li.link{
    list-style: none;
}

li.link.active>a{
    font-weight: bold;
}

.similar_articles-title{
    padding: 10px 0;
}